@import url("https://fonts.googleapis.com/css?family=Roboto:600,400,500,300");
@import url("https://fonts.googleapis.com/css?family=Montserrat:600,400,500,300");

:root {
  --darkbackground: #302e2a;
  --lightbackground: #5b4f3d;
  --verylightbackground: #746651;
  --mainaccent: #ffcd84;
  --darkaccent: #e4b268;
  --lighttext: #fffae7;
  --darktext: #000000;
  --linkcolor: #3a7fee;
}

body {
  background: var(--darkbackground);
  padding: 5px;
  overflow-y: hidden;
}

button {
  color: var(--mainaccent);
  outline: none;
  border: none;
  border-radius: 2px;
  font-size: 12px;
  letter-spacing: 0.08929em;
  padding: 5px;
  padding-top: 8px;
  padding-bottom: 8px;
  text-transform: uppercase;
  font-weight: 500;
  font-family: Roboto;
  align-items: center;
  cursor: pointer;
  transition: 150ms ease;
}

.app {
  width: 375px;
}

.menubar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--mainaccent);
  height: 30px;
}

.menubar i {
  transition: 150ms ease;
}

.menubar i:hover {
  color: var(--darkaccent);
}

.header {
  font-family: Montserrat;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 20px;
  transition: 150ms ease;
}

.logo {
  margin-left: -52px;
}

.loader {
  font-size: 18px;
  transition: 150ms ease;
  animation-name: spin;
  animation-duration: 1500ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.stylingoptions {
  display: flex;
  align-items: center;
}

.stylingoptions button {
  outline: none;
  background: var(--lightbackground);
  border: none;
  cursor: pointer;
  color: var(--mainaccent);
  font-family: Roboto;
  font-size: 18px;
  border-radius: 5px;
  margin-right: 8px;
  width: 28px;
  height: 21px;
  text-align: center;
  padding: 0;
}

.stylingoptions button.activestyle {
  background: var(--verylightbackground);
}

.allnotesbutton {
  width: 40px;
}

.notepad {
  min-width: 80%;
  height: 190px;
  border-radius: 5px;
  background: var(--mainaccent);
  margin-top: 10px;
  color: var(--darktext);
  font-family: Roboto;
  border: none;
  transition: 150ms ease;
  padding: 5px;
  font-size: 13pt;
  overflow-y: auto;
  opacity: 0.9;
  z-index: 1;
}

.notepad:focus {
  opacity: 1;
}

.notepad a {
  color: #468cfd;
}

[contenteditable] {
  outline: 0px solid #000000;
}

.infobar {
  display: flex;
  color: var(--mainaccent);
  font-family: Roboto;
  margin-top: 5px;
  font-size: 16px;
}

.charcount {
  margin-right: 30px;
  margin-left: 10px;
}

.notename {
  margin-left: auto;
  margin-right: 10px;
}

#link-popup {
  position: absolute;
  display: flex;
  align-items: center;
  min-width: 25px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  height: 28px;
  background: var(--darkbackground);
  filter: drop-shadow(0px 2px 7px #303030);
  backdrop-filter: blur(10px);
  border: 1px solid var(--lightbackground);
  border-radius: 5px;
  padding: 2px 5px;
  overflow: hidden;
  font-size: 11pt;
  z-index: 50;
}

#link-popup a {
  color: var(--linkcolor);
  overflow: hidden;
  text-overflow: ellipsis;
}

#link-popup i {
  font-size: 16px;
  vertical-align: middle;
  color: var(--mainaccent);
  margin-right: 2px;
}

.link-popup-options {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.link-popup-options i {
  cursor: pointer;
}

.allnotescont {
  position: absolute;
  top: 300px;
  width: 375px;
  height: 274px;
  background: var(--darkbackground);
  padding-top: 10px;
  transition: 500ms ease;
  z-index: 99;
}

.notelist {
  display: flex;
  color: var(--lighttext);
  font-family: Roboto;
  margin-top: 5px;
  max-height: 190px;
  overflow-y: auto;
  flex-wrap: wrap;
  margin-bottom: 5px;
}

.notelist div {
  cursor: pointer;
  margin: 5px;
  padding: 5px;
  background: var(--lightbackground);
  border-radius: 5px;
  font-size: 16px;
  height: 19px;
  transition: 150ms ease;
}

.notelist div:hover {
  background: var(--verylightbackground);
}

.notelist.deleting div {
  animation-name: wobble;
  animation-duration: 250ms;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
}

.notelist.deleting div:hover {
  text-decoration: line-through;
}

.notelist.deleting div.massSelected {
  background: var(--mainaccent);
  color: var(--darktext);
  text-decoration: line-through;
}

.notelist.deleting div.massSelected:hover {
  background: var(--darkaccent);
}

.notelist div.curnote {
  border-left: 2px solid var(--mainaccent);
  border-bottom: 2px solid var(--mainaccent);
}

@keyframes wobble {
  0% {
    transform: rotate(-2deg);
  }
  50% {
    transform: rotate(2deg);
  }
  100% {
    transform: rotate(-2deg);
  }
}

.confirmdelete {
  background: var(--mainaccent);
  color: var(--darktext);
}

.confirmdelete:hover {
  background: var(--darkaccent);
}

.newnote {
  display: flex;
  justify-content: space-between;
}

.newnote input {
  margin-top: 5px;
  outline: none;
  background: var(--verylightbackground);
  color: #fff;
  border: none;
  font-size: 16px;
  padding: 5px;
  width: 250px;
  border-radius: 2px;
}

.newnote input::placeholder {
  color: var(--darkbackground);
}

.newnote button {
  background: var(--darkbackground);
  margin-right: auto;
  margin-left: 10px;
}

.newnote button:hover {
  background: var(--lightbackground);
}

.newnotemsg {
  font-family: Roboto;
  color: var(--mainaccent);
  font-size: 14px;
  margin-bottom: 5px;
}
